<ul class="nav nav-tabs">
  <li><%= link_to 'Edit Account', edit_person_path(@person.id) %></li>
  <li class="active"><%= link_to 'Edit Profile', edit_person_profile_path(@person.id) %></li>
  <li><%= link_to 'Public Profile', person_path(@person.id) %></li>
</ul>

<%= form_for :profile, :url => person_profile_path(@person.id), :html => {:class => 'profile_settings', :multipart => true }, :method => 'put' do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  
  <%= f.label :about %>
  <div id="wysihtml5-toolbar-about" style="display: none;">
    <%= render :partial => 'courses/editor_advanced_btns' %>
  </div>
  <%= f.text_area :about, :rows => 10, :class => 'span8', :id => 'wysihtml5-textarea-about' %>
  <br />
  
  <div class='uploaded_images'>
    <%= image_tag @profile.avatar.url(:medium) %>
    <%= image_tag @profile.avatar.url(:thumb) %>
    <%= image_tag @profile.avatar.url(:tiny) %>
  </div>
  
  
  <%= f.file_field :avatar %>
  <br />
  <%= f.submit "Update" %>
<% end %>

<script>

  var editor = new wysihtml5.Editor("wysihtml5-textarea-about", { // id of textarea element
    toolbar:      "wysihtml5-toolbar-about", // id of toolbar element
    parserRules:  wysihtml5ParserRules // defined in parser rules set 
  });
  
</script>