<%= form_for objects, :html => {:class => 'new_slide', :multipart => true } do |f| %>
  <div class='actions'>
    <%= link_to image_tag('image_new.gif'), '#', :class => 'upload_photo' %><br/>
    <hr/>
    <%= submit_tag I18n.t('upload'), :class => 'btn primary' %><span class='loading'><%= image_tag('loading-data.gif', :style => 'display:none;') %></span>
  </div>
<% end %>
<div class='row'>
  <div class='span9 column'>
  <% @page.slideshow.slides.each do |slide| %>
    <%= image_tag slide.image.url(:thumb) %> <%= link_to 'Delete', slide, :class => 'btn btn-mini' , confirm: 'Are you sure?', method: :delete %> 
  <% end %>
  </div>
</div>