<div class='center'>
  <h2><%= I18n.t('devise.forget_your_password')%></h2>
  
  <div class='devise_form'>
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
      <%= devise_error_messages! %>

      <div><%= f.label I18n.t('devise.email') %><br />
      <%= f.email_field :email %></div>

      <div><%= f.submit I18n.t('devise.send_me_reset_password_instructions') %></div>
    <% end %>

    <%= render :partial => "people/shared/links" %>
  </div>
</div>
