<ul class="nav nav-tabs">
  <li class="active"><a href="#">Edit Account</a></li>
</ul>
<div class='page-header well'>
  <%= "#{I18n.t('signed_in_with')} #{@user.provider}"%>
</div>
<%= form_for(@user) do |f|%>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br />
  <%= f.label :email %>
  <%= f.email_field :email %>
  <br />
  <%= f.label :mobile %>
  <%= f.text_field :mobile %>
  <br />

  <%= f.submit "Update" %>
<% end %>