<ul class="nav nav-tabs">
  <li class="active"><a href="#"><%= I18n.t('edit_account')%></a></li>
  <li><%= link_to I18n.t('edit_profile'), edit_person_profile_path(@user.id) %></li>
  <li><%= link_to I18n.t('public_profile'), person_path(@user.id) %></li>
</ul>

<%= form_for(@user) do |f|%>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.label I18n.t('name') %>
  <%= f.text_field :name %>
  <br />
  <%= f.label I18n.t('email') %>
  <%= f.email_field :email %>
  <br />
  <%= f.label I18n.t('mobile') %>
  <%= f.text_field :mobile %>
  <br />

  <%= f.submit I18n.t('update') %>
<% end %>

<div class='account_editing'>
  <div class='connect_other_social_accounts'>
    
    <div class='social_account'>
      <span class='social_botton span1'><%= image_tag('social/weibo_24.png') %></span>
      <span class='social_site span1'><%= I18n.t('weibo')%></span>
      <span class='connect_it span2'><%= connect_social_botton(:weibo) %></span>
    </div>
    <div class='social_account'>
      <span class='social_botton span1'><%= image_tag('social/twitter_24.png') %></span>
      <span class='social_site span1'><%= I18n.t('twitter')%></span>
      <span class='connect_it span2'><%= connect_social_botton(:twitter) %></span>
    </div>
    <div class='social_account'>
      <span class='social_botton span1'><%= image_tag('social/facebook_24.png') %></span>
      <span class='social_site span1'><%= I18n.t('facebook')%></span>
      <span class='connect_it span2'><%= connect_social_botton(:facebook) %></span>
    </div>
  </div>
  
  <%= link_to(I18n.t('devise.set_password_to_login_in_as_email'), '/change_password', :class => 'set_password_to_login_in_as_email alert alert-info') unless @user.email.blank? %>
</div>

