.admin
  %h4
    = "Current Users: #{Person.count}"
  %p.users_count
    %h6
      = "#{Person.where(:provider => 'weibo').count} signed in with weibo"
    %h6
      = "#{Person.where(:provider => 'twitter').count} signed in with twitter"
    %h6
      = "#{Person.where(:provider => 'facebook').count} signed in with facebook"
      
  %h4
    = "ALL Time Top 10 Courses View:"
  %p.courses_view
    %h6
      - Course.top(10).each do |course|
        = "#{course.name(I18n.locale)} hits: #{course.score.to_s}"
        %br
        
  %h4
    = "Today's Top 10 Courses View:"
  %p.courses_view
    %h6
      - Course.today_top(10).each do |course|
        = "#{course.name(I18n.locale)} hits: #{course.daily_score.to_s}"
        %br
        
  %h4
    = "This Week's Top 10 Courses View:"
  %p.courses_view
    %h6
      - Course.week_top(10).each do |course|
        = "#{course.name(I18n.locale)} hits: #{course.weekly_score.to_s}"
        %br