<div id='slides' class='span12'>
	<div id="slides_container" class='span12'>
		<a class='slide' id='slide_1'><%= image_tag '01-copy.jpg', :class => ''%></a>
		<a class='slide' id='slide_2'><%= image_tag '02-copy.jpg', :class => ''%></a>
		<a class='slide' id='slide_3'><%= image_tag '03-copy.jpg', :class => ''%></a>
		<a class='slide' id='slide_4'><%= image_tag '04-copy.jpg', :class => ''%></a>
		<a class='slide' id='slide_5'><%= image_tag '05-copy.jpg', :class => ''%></a>
	</div>
</div>




<%= content_for :javascript do %>
	<script>
	  $(function(){
			$('#slides_container').cycle({ 
			    fx:      'fade', 
			    speedIn:  500, 
			    speedOut: 1000, 
			    sync:     800, 
			    delay:   -5000 
			});
	  });
	</script>
<% end %>
