<div class='row front-slides'>
  <div id='slides' class='span12 column'>
  	<div id="slides_container" class='span12'>
  	  <% @page.slideshow.slides.each do |slide| %>
  		  <a class='slide' id='slide_<%= slide.id %>'><%= link_to image_tag(slide.image.url(:original)), '/tedxshanghai-2012' %></a>
  		<% end %>
  	</div>
  </div>
</div>
<div class='row' style='clear:left;'>
  <div class='span5 column front-logo'>
    <%= link_to image_tag('logo.jpg'), '/' %>
  </div>
  <div class='span7'>
    <ul class='nav nav-pills sidenav front-nav'>
      <% Page.all(:order => 'id asc').each do |p| %>
      <% if p.slug != "root" %>
      <li><%= link_to (I18n.locale == 'en' ? p.title(I18n.locale).downcase : p.title(I18n.locale)), (p.slug == "root" ? '/' : p.slug) %></li>
      <% end %>
      <% end %>
      <li><%= link_to I18n.t('i_want_to_join'), '/i-want-to-join' %></li>
      <% if current_user%>
      <li><%= link_to I18n.t('edit_profile'), edit_person_path(current_user) %></li>

      <li><%= link_to I18n.t('edit_pages'), '/pages' %></li>
      <% end %>
      <% if I18n.locale == :en %>
      <li><%= link_to '中文', '/zh' %></li>
      <% else %>
      <li><%= link_to 'English', '/en' %></li>
      <% end %>
      <% if session[:user_id] == nil%>
      <li><%= link_to I18n.t('login_with_weibo'), '/login' %></li>
      <% else %>
      <li><%= link_to I18n.t('logout'), '/logout' %></li>
      <% end %>
      <% if current_user && current_user.admin? && @page && !@page.new_record? %>
      <li><%= link_to I18n.t('edit'), "/editor" + (request.path == '/' ? '/pages/root' : request.path), id: "edit_link", data: {save_url: (request.path == '/' ? '/pages/root' : mercury_update_page_path(@page))} %></li>
      <% end %>
    </ul>
  </div>
</div>


<%= content_for :javascript do %>
	<script>
	  $(function(){ 
	    $('#slides_container').cycle({fx: 'fade', speedIn: 400, speedOut: 400, sync: 200, delay: -5000});
	  });
	</script>
<% end %>
