<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="well">
    <div class='span4 column'>
      <%= f.label :title_en %>
      <%= f.text_field :title_en, :class => "span4" %>
    </div>
    <div class="span4 column">
      <%= f.label :title_zh %>
      <%= f.text_field :title_zh, :class => "span4" %>
      
    </div>
    <br style='clear:left;'>
  </div>
  
  <div class="well">
    <div class="span4 column">
      <%= f.label :slug %>
      <%= f.text_field :slug, :class => "span4" %>
      
    </div>
    <br style='clear:left;'>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
