<div class='row <%= row_class || "" %>'>
  <div id='slides' class='<%= grid_class || ""  %> column'>
  	<div id="<%= html_id %>" class='<%= grid_class || "" %>'>
  	  <% slides.each do |slide| %>
  		  <a class='slide' id='slide_<%= slide.id %>'><%= image_tag slide.image.url %></a>
  		<% end %>
  	</div>
  </div>
</div>
<%= content_for :javascript do %>
	<script>
	  $(function(){
			$('#<%= html_id %>').cycle(<%= options %>);
	  });
	</script>
<% end %>