.sortable
  - unless tree.empty?
    = render :partial => "#{opts[:path]}/js_init_sortable_tree", :locals => { :opts => opts }
    = render :partial => "#{opts[:path]}/js_on_update_tree"
    = render :partial => "#{opts[:path]}/js_rebuild_ajax", :locals => { :opts => opts }
    = content_tag :ol, raw(tree), :class => "ui-sortable sortable nested_set", :id => "#{opts[:klass]}_nested_set"