<%= form_for @course, :html => {:class => 'new_slide', :multipart => true } do |f| %>

  <%= f.label :name_en%>
  <%= f.text_field :name_en %>
  
  <%= f.label :name_zh %>
  <%= f.text_field :name_zh %>
  
  <%= f.label :price %>
  <%= f.text_field :price %>
  
  <%= f.label :price_type %>
  <%= f.select :price_type, { "CNY" => "cny", "USD" => "usd"}%>
  
  <%= f.label :start_date_time %>
  <%= f.text_field :start_date_time, :placeholder => "Format: 2012-11-23 00:00:00", :class => 'start_date_time_field' %>
  <span id='start_date_time_picker'></span>
  
  <%= f.label :address %>
  <%= f.text_area :address, :rows => 2, :class => 'span8'%>
 
  <%= f.label :summary_en %>
  <div id="wysihtml5-toolbar-summary-en" style="display: none;">
    <%= render :partial => 'editor_advanced_btns' %>
  </div>
  <%= f.text_area :summary_en, :rows => 10, :class => 'span8', :id => 'wysihtml5-textarea-summary-en'%>
  
  <%= f.label :summary_zh %>
  <div id="wysihtml5-toolbar-summary-zh" style="display: none;">
    <%= render :partial => 'editor_advanced_btns' %>
  </div>
  <%= f.text_area :summary_zh, :rows => 10, :class => 'span8', :id => 'wysihtml5-textarea-summary-zh'  %>
  
  <%= f.label :description_en %>
  <div id="wysihtml5-toolbar-description-en" style="display: none;">
    <%= render :partial => 'editor_advanced_btns' %>
  </div>
  <%= f.text_area :description_en, :rows => 10, :class => 'span8', :id => 'wysihtml5-textarea-description-en' %>
  
  <%= f.label :description_zh %>
  <div id="wysihtml5-toolbar-description-zh" style="display: none;">
    <%= render :partial => 'editor_advanced_btns' %>
  </div>
  <%= f.text_area :description_zh, :rows => 10, :class => 'span8', :id => 'wysihtml5-textarea-description-zh' %>
  
  <label for="category">Category</label>
  <div class="controls">
    <select id="main_category_select" placeholder="Main Category" name="main_category" class="main-category">
      <option value=""></option>
      <% Category.main_categories.collect do |category| %>
        <% if @course.category && @course.category.parent.id == category.id %>
          <option value='<%= category.id%>' selected='selected'><%= category.name(I18n.locale)%></option>
        <% else%>
          <option value='<%= category.id%>'><%= category.name(I18n.locale)%></option>
        <% end%>
      <% end%>
    </select>
    
    <select data-placeholder="Sub Category" class="sub-category" name="course[category_id]">
    </select>
  </div>
  
  <%= f.label :weibo %>
  <%= f.text_field :weibo %>

  <%= f.label :twitter %>
  <%= f.text_field :twitter %>
  
  <%= f.label :facebook %>
  <%= f.text_field :facebook %>
  
  <%= f.label :github %>
  <%= f.text_field :github %>
  
  <%= f.label :linkedin %>
  <%= f.text_field :linkedin %>
  
  <%= f.label :image %>
  <div class='uploaded_images'>
    <%= image_tag @course.image.url %>
    <%= image_tag @course.image.url(:thumb) %>
    <%= image_tag @course.image.url(:tiny) %>
  </div>
  
  
  <%= f.file_field :image %>
  
  
  <div class='actions'>
    <hr/>
    <%= submit_tag (@course.new_record? ? I18n.t('create') : I18n.t('save')), :class => 'btn primary' %><span class='loading'><%= image_tag('loading-data.gif', :style => 'display:none;') %></span>
    
    <% @course.state_transitions.map{|s| s.event}.each do |e|%>
      <%= link_to e.to_s, course_path(@course.id) + '/' + e.to_s, method: :post, class: 'btn btn-info' %>
    <% end%>
  </div>
<% end %>

 <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
 <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

<script>

  if($('#main_category_select option:selected').attr('value')){
    load_sub_categories($('#main_category_select option:selected').attr('value'));
  };
  
  var editor1 = new wysihtml5.Editor("wysihtml5-textarea-summary-en", { // id of textarea element
    toolbar:      "wysihtml5-toolbar-summary-en", // id of toolbar element
    parserRules:  wysihtml5ParserRules // defined in parser rules set 
  });
  
  var editor2 = new wysihtml5.Editor("wysihtml5-textarea-summary-zh", { // id of textarea element
    toolbar:      "wysihtml5-toolbar-summary-zh", // id of toolbar element
    parserRules:  wysihtml5ParserRules // defined in parser rules set 
  });
  
  var editor3 = new wysihtml5.Editor("wysihtml5-textarea-description-en", { // id of textarea element
    toolbar:      "wysihtml5-toolbar-description-en", // id of toolbar element
    parserRules:  wysihtml5ParserRules // defined in parser rules set 
  });
  
  var editor4 = new wysihtml5.Editor("wysihtml5-textarea-description-zh", { // id of textarea element
    toolbar:      "wysihtml5-toolbar-description-zh", // id of toolbar element
    parserRules:  wysihtml5ParserRules // defined in parser rules set 
  });
  
  $( "#start_date_time_picker" ).datepicker({
    dateFormat : "yy-mm-dd",
    onSelect: function(dateText, inst) { $('.start_date_time_field').attr('value', dateText + ' 00:00:00') }
  });
</script>
