<div class='course_page'>
  <div class='course row'>
    <div class='span4'>
      <div class='image row'>
        <%= image_tag @course.image.url %>
      </div>
      <div class='watch_box'>
        <div class='watchers row'>
          <% @course.watchers.limit(5).each do |watcher|%>
            <%= link_to watcher.name, person_path(watcher.id)%>
          <% end%>
          <%= @course.watchers.count > 1 ? "are watching this course." : (@course.watchers.count == 1 ? "is watching this course." : "")%>
        </div>
        <div class='watch_btn'>
          <%= watch_btn(@course)%>
        </div>
      </div>
      <div class='actions'>
        <%= course_admin_action(@course) %>
      </div>
    </div>
    <div class='span7'>
      <div class='name'>
        <h1 class='light'><%= @course.name(I18n.locale)%></h1>
      </div>
      <div class='categories'>
        <% if @course.category%>
          <span class="label label-main-category"><%= @course.category.parent.name(I18n.locale)%></span>
          <span class="label label-sub-category"><%= @course.category.name(I18n.locale)%></span>
        <% end%>
      </div>
      <div class='social_links span3'>
        <%= link_to(image_tag('social/twitter_32.png'), @course.twitter, :target => '_blank') unless @course.twitter.blank? %>
        <%= link_to(image_tag('social/linkedin_32.gif'), @course.linkedin, :target => '_blank'  ) unless @course.linkedin.blank? %>
        <%= link_to(image_tag('social/tsina_32.png'), @course.weibo, :target => '_blank'  ) unless @course.weibo.blank? %>
        <%= link_to(image_tag('social/facebook_32.png'), @course.facebook, :target => '_blank'  ) unless @course.facebook.blank? %>
        <%= link_to(image_tag('social/github_32.png'), @course.github, :target => '_blank'  ) unless @course.github.blank? %>
      </div>
      <div class='description span7 light'>
        <h2 class='light'>About this Course</h2>
        <div class='light'><%= raw @course.description(I18n.locale)%></div>
        
      </div>
      <div class='summary span7'>
        <h2 class='light'>Summmay</h2>
        <div class='light'><%= raw @course.summary(I18n.locale)%></div>
      </div>
      
    </div>
    
  </div>
</div>

<div class='course_comments'>
  <div class='new_comment'>
    <i class="icon-comment comment_icon"></i>
    <span class='comment_count'><%= @course.comment_threads.count %> comments</span>
    <div class='comment_box'>
      <%= form_for :comment, :url => course_comments_path(@course.id), :html => {:class => 'new_course_comment', :multipart => true } do |f| %>
        <div id="wysihtml5-toolbar" style="display: none;">
          <div data-wysihtml5-dialog="createLink" style="display: none;">
            <label>
              Link:
              <input data-wysihtml5-dialog-field="href" value="http://">
            </label>
            <a data-wysihtml5-dialog-action="save">OK</a>&nbsp;<a data-wysihtml5-dialog-action="cancel">Cancel</a>
          </div>

          <div data-wysihtml5-dialog="insertImage" style="display: none;">
            <label>
              Image:
              <input data-wysihtml5-dialog-field="src" value="http://">
            </label>
            <label>
              Align:
              <select data-wysihtml5-dialog-field="className">
                <option value="">default</option>
                <option value="wysiwyg-float-left">left</option>
                <option value="wysiwyg-float-right">right</option>
              </select>
            </label>
            <a data-wysihtml5-dialog-action="save">OK</a>&nbsp;<a data-wysihtml5-dialog-action="cancel">Cancel</a>
          </div>

        </div>
        <%= f.text_area :body, :rows => 5, :class => 'span10', :id => 'wysihtml5-textarea'%>
        <%= submit_tag ('comment'), :class => 'btn btn-mini comment_btn' %>
      <% end%>
    </div>
  </div>
  
  <ul class='comments unstyled'>
    <% @course.root_comments.each do |c|%>
      <li class='row comment'>
        <div class='user_name span1'><%= c.user.name%></div>
        <div class='time_ago span1'><%= time_ago_in_words(c.created_at)%></div>
        <div class='body span8'><%=raw c.body %>
      </li >
    <% end%>
  </ul>

</div>


<script>
var editor = new wysihtml5.Editor("wysihtml5-textarea", { // id of textarea element
  toolbar:      "wysihtml5-toolbar", // id of toolbar element
  parserRules:  wysihtml5ParserRules // defined in parser rules set 
});
</script>