<%= form_for(@email_template) do |f| %>
  <% if @email_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@email_template.errors.count, "error") %> prohibited this email_template from being saved:</h2>

      <ul>
      <% @email_template.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_area :text, :class => 'span8' %>
    <%= f.label :html %><br />
    <div id="wysihtml5-toolbar" style="display: none;">
        <a data-wysihtml5-command="bold" title="CTRL+B">bold</a> |
        <a data-wysihtml5-command="italic" title="CTRL+I">italic</a> |
        <a data-wysihtml5-command="createLink">link</a> |
        <a data-wysihtml5-command="insertImage">image</a> |
        <a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h1">h1</a> |
        <a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h2">h2</a> |
        <a data-wysihtml5-command="insertLineBreak">break</a> |
        <a data-wysihtml5-command="insertUnorderedList">list</a> |
        <a data-wysihtml5-command="insertOrderedList">ordered list</a> |
        <a data-wysihtml5-action="change_view">html</a>

        <div data-wysihtml5-dialog="createLink" style="display: none;">
          <label>
            Link:
            <input data-wysihtml5-dialog-field="href" value="http://">
          </label>
          <a data-wysihtml5-dialog-action="save">OK</a>&nbsp;<a data-wysihtml5-dialog-action="cancel">Cancel</a>
        </div>

        <div data-wysihtml5-dialog="insertImage" style="display: none;">
          <label>
            Image:
            <input data-wysihtml5-dialog-field="src" value="http://">
          </label>
          <label>
            Align:
            <select data-wysihtml5-dialog-field="className">
              <option value="">default</option>
              <option value="wysiwyg-float-left">left</option>
              <option value="wysiwyg-float-right">right</option>
            </select>
          </label>
          <a data-wysihtml5-dialog-action="save">OK</a>&nbsp;<a data-wysihtml5-dialog-action="cancel">Cancel</a>
        </div>

      </div>
    <%= f.text_area :html, :class => 'span8', :id => 'wysihtml5-textarea' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
var editor = new wysihtml5.Editor("wysihtml5-textarea", { // id of textarea element
  toolbar:      "wysihtml5-toolbar", // id of toolbar element
  parserRules:  wysihtml5ParserRules // defined in parser rules set 
});
</script>
