<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @email_template.name %>
</p>

<p>
  <b>Html:</b><br>
  <%=raw @email_template.html %></br>
  <b>Source:</b></br>
  <%=@email_template.html %>
</p>


<%= link_to 'Edit', edit_email_template_path(@email_template) %> |
<%= link_to 'Back', email_templates_path %>
