<%= form_for(@guide) do |f| %>
  <% if @guide.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@guide.errors.count, "error") %> prohibited this guide from being saved:</h2>

      <ul>
      <% @guide.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.label :title_zh%>
  <%= f.text_field :title_zh %>
  
  <%= f.label :title_en%>
  <%= f.text_field :title_en %>

  <%= f.label :content_zh %>
  <div id="wysihtml5-toolbar-zh" style="display: none;">
    <%= render :partial => 'courses/editor_advanced_btns' %>
  </div>
  <%= f.text_area :content_zh, :rows => 40, :class => 'span8', :id => 'wysihtml5-textarea-zh'%>
  
  <%= f.label :content_en %>
  <div id="wysihtml5-toolbar-en" style="display: none;">
    <%= render :partial => 'courses/editor_advanced_btns' %>
  </div>
  <%= f.text_area :content_en, :rows => 40, :class => 'span8', :id => 'wysihtml5-textarea-en'%>

  <div class="actions">
    <%= f.submit %>
    <%= link_to 'Destroy', @guide, confirm: 'Are you sure?', :class => 'btn btn-danger', method: :delete %>
  </div>
<% end %>


<script>

  var editor_zh = new wysihtml5.Editor("wysihtml5-textarea-zh", { // id of textarea element
    toolbar:      "wysihtml5-toolbar-zh", // id of toolbar element
    parserRules:  wysihtml5ParserRules // defined in parser rules set 
  });
  
  var editor_en = new wysihtml5.Editor("wysihtml5-textarea-en", { // id of textarea element
    toolbar:      "wysihtml5-toolbar-en", // id of toolbar element
    parserRules:  wysihtml5ParserRules // defined in parser rules set 
  });
  
</script>