<!DOCTYPE html>
<html>
<head>
  <title><%= (@page && @page.title(I18n.locale) ? @page.title(I18n.locale) + " | 51 skills" : "51 skills")%></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= include_gon %>
  <%= javascript_include_tag "application", 'cycle' %>
  <%= csrf_meta_tags %>
  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
  <%= javascript_tag "var locale = '#{I18n.locale}'; var _c_u_id = #{current_user ? current_user.id : 'null'}" %>
  <meta property="wb:webmaster" content="29355dc945f2c530" />
  <link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
  
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-32832822-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  <!-- start Mixpanel -->
  <script type="text/javascript">(function(c,a){var b,d,h,e;b=c.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===c.location.protocol?"https:":"http:")+'//api.mixpanel.com/site_media/js/api/mixpanel.2.js';d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d);a._i=[];a.init=function(b,c,f){function d(a,b){var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(Array.prototype.slice.call(arguments,0)))}}var g=a;"undefined"!==typeof f?g=
  a[f]=[]:f="mixpanel";g.people=g.people||[];h="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config people.set people.increment".split(" ");for(e=0;e<h.length;e++)d(g,h[e]);a._i.push([b,c,f])};a.__SV=1.1;window.mixpanel=a})(document,window.mixpanel||[]);
  mixpanel.init("5ee4c298aa44252b5df28ad635218088");
  </script>
  <!-- end Mixpanel -->
</head>
<body>
  <div class='container'>

    <div class='row'>
      <% if @page && @page.sidebar %>
      <div class='span3 column sidebar'>
        <!-- <div class='page-header logo_51_skills'>
          <%= link_to "<span class='logo_51'>51</span><span class='logo_skills'>skills</span>".html_safe, '/' %>
          <span class='beta'>beta</span>
        </div> -->
        <div class='page-header'>
          <%= link_to image_tag('logo_medium.png'), courses_path %>
        </div>
        <ul class='nav nav-pills nav-stacked sidenav'>
          <% Page.all(:conditions => {:depth => 1}, :order => 'lft asc').each do |p| %>
          <% if p.slug != "root" && p.hidden == false %>
            <li>
              <%= link_to (I18n.locale == 'en' ? p.title(I18n.locale).downcase : p.title(I18n.locale)), "/"+p.slug, :class => "#{(p.slug == @page.slug ? "current" : '')}" %>              
              <% p.children.each do |c| %>
                <% if (request.path == '/pages') || p.children.size != 0 && (p.slug == @page.slug || c.slug == @page.slug || c.siblings.collect {|s| s.id}.include?(@page.id))%>
                  <li class='indent'><%= link_to (I18n.locale == 'en' ? c.title(I18n.locale).downcase : c.title(I18n.locale)), "/"+c.slug, :class => "#{(c.slug == @page.slug ? "current" : '')}" %></li>
                <% end %>
              <% end %>
            </li>
          <% end %>
          <% end %>
          <% if current_user%>
          <li><%= link_to I18n.t('settings'), edit_person_path(current_user) %></li>
          <% end %>
    
          <li><%= zh_or_en_link %></li>

          <% unless current_user %>
          
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= I18n.t('sign_in_with')%><b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li class='social_oauth'>
                <span class='social_botton'><%= link_to image_tag('social/weibo_24.png'), login_path(:weibo) %></span>
                <span class='social_site'><%= link_to I18n.t('weibo'), login_path(:weibo)%></span>
              </li>
              <li class='social_oauth'>
                <span class='social_botton'><%= link_to image_tag('social/twitter_24.png'), login_path(:twitter) %></span>
                <span class='social_site'><%= link_to I18n.t('twitter'), login_path(:twitter)%></span>
              </li>
              <li class='social_oauth'>
                <span class='social_botton'><%= link_to image_tag('social/facebook_24.png'), login_path(:facebook) %></span>
                <span class='social_site'><%= link_to I18n.t('facebook'), login_path(:facebook)%></span>
              </li>
              <div class='email_authentication'>
                <li class=''>
                  <%= link_to I18n.t('devise.sign_in_with_email'), new_person_session_path%>
                </li>
                <li class=''>
                  <%= link_to I18n.t('devise.sign_up'), new_person_registration_path %>
                </li>
              </div>
            </ul>
          </li>
          
          <% else %>
          <li><%= link_to I18n.t('logout'), destroy_person_session_path, :method => :delete %></li>
          <% end %>
          <% if current_user && current_user.admin? && @page && !@page.new_record? %>
          <li><%= link_to I18n.t('edit_pages'), pages_path %></li>
          <li><%= link_to I18n.t('edit_categories'), categories_path %></li>
          <li><%= link_to I18n.t('edit_email_templates'), email_templates_path %></li>
          <li><%= link_to I18n.t('edit'), "/editor" + (request.path == '/' ? '/pages/root' : request.path), id: "edit_link", data: {save_url: (request.path == '/' ? '/pages/root' : mercury_update_page_path(@page))} %></li>
          <li><%= link_to I18n.t('admin_dashboard'), admin_path %></li>
          <% end %>
        </ul>
        <div class='search'>
          <%= form_for :search, :url => '/search', :html => {:class => 'form-search'} do |f| %>
            <%= f.text_field :q, :class => 'search-query span2', :placeholder => I18n.t('search') %>
          <% end %>
        <%= yield :sidebar %>
        </div>
        <div class='category_filter'>
          <ul class='nav nav-pills nav-stacked sidenav categories'>
            <% Category.main_categories.each do |category| %>
              <li class='category'><%= link_to category.name(I18n.locale), category_path(category.id), :class => (current_category?(category) ? 'current' : '') %></li>
              <% if current_category?(category) || (@category && @category.sub_category? && @category.parent == (category.parent || category))%>
                <% category.children.each do |child| %>
                  <li class='category indent'><%= link_to child.name(I18n.locale), category_path(child.id), :class => (current_category?(child) ? 'current' : '') %></li>
                <% end %>
              <% end%>
            <% end%>
          </ul>
        </div>
      </div>
      <div class='span9 column main'>
        <%= notice_helper %>
        <%= alert_helper %>

        <%= yield %>
      </div>
      <% else %>
        <%= notice_helper %>
        <%= alert_helper %>
        <div class='header row'>
          <div class='site_name  span3'>
            <%= link_to image_tag('logo_tiny.png'), courses_path %>
          </div>
          <div class='courses span2'><h6><%= link_to I18n.t('learn'), courses_path %></h6></div>
          <div class='courses span2'><h6><%= link_to I18n.t('teach'), '#' %></h6></div>
          <div class='courses span2'><h6><%= zh_or_en_link %></h6></div>
          
          <% unless current_user %>
            <ul class='unstyled pull-right' >
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= I18n.t('sign_in_with')%><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class='social_oauth'>
                  <span class='social_botton'><%= link_to image_tag('social/weibo_24.png'), login_path(:weibo) %></span>
                  <span class='social_site'><%= link_to I18n.t('weibo'), login_path(:weibo)%></span>
                </li>
                <li class='social_oauth'>
                  <span class='social_botton'><%= link_to image_tag('social/twitter_24.png'), login_path(:twitter) %></span>
                  <span class='social_site'><%= link_to I18n.t('twitter'), login_path(:twitter)%></span>
                </li>
                <li class='social_oauth'>
                  <span class='social_botton'><%= link_to image_tag('social/facebook_24.png'), login_path(:facebook) %></span>
                  <span class='social_site'><%= link_to I18n.t('facebook'), login_path(:facebook)%></span>
                </li>
                <div class='email_authentication'>
                  <li class=''>
                    <%= link_to I18n.t('devise.sign_in_with_email'), new_person_session_path%>
                  </li>
                  <li class=''>
                    <%= link_to I18n.t('devise.sign_up'), new_person_registration_path %>
                  </li>
                </div>
              </ul>
            </li>
            </ul>
          <% else%>
            <ul class='unstyled pull-right' >
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= current_user.name%><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li ><%= link_to I18n.t('settings'), edit_person_path(current_user.id)%></li>
                <li ><%= link_to(I18n.t('logout'), destroy_person_session_path, :method => :delete) %></li>
              </ul>
            </li>
            </ul>
          <% end%>
        </div>
        <%= yield %>
      <% end %>
    </div>
    
    <footer class='footer'>
      <%= render :partial => 'layouts/jiathis' %>
      <br />
      <div class='transist'>
        <span>©2012 <strong>Transist</strong> Inc. All rights reserved.</span>
      </div>
      
      
      
    </footer>
  </div>

<%= yield :javascript %>
<% if request.path.include?('editor')%>
  <%= javascript_include_path 'load_editor' %>
<% end %>
</body>

</html>
