<!DOCTYPE html>
<html>
<head>
  <title><%= (@page && @page.title(I18n.locale) ? @page.title(I18n.locale) + " | TedXShanghai" : "TedXShanghai")%></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", 'cycle' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='container'>
    <% if @page && @page.header %>
    <div class='row'>
      <div class='span12 column'>
        <%= link_to image_tag('logo.jpg'), '/' %>
      </div>
    </div>
    <% end %>
    <div class='row'>
      <% if @page && @page.sidebar %>
      <div class='span3 column'>
        
        <ul class='nav nav-pills nav-stacked sidenav'>
          <% Page.all(:order => 'id asc').each do |p| %>
          <li><%= link_to (I18n.locale == 'en' ? p.title(I18n.locale).downcase : p.title(I18n.locale)), (p.slug == "root" ? '/' : p.slug) %></li>
          <% end %>
          <li><%= link_to 'I Want to Join', '/i-want-to-join' %></li>
          <% if current_user%>
          <li><%= link_to 'Edit Profile', edit_person_path(current_user) %></li>
          
          <li><%= link_to 'Edit Pages', '/pages' %></li>
          <% end %>
          <% if I18n.locale == :en %>
          <li><%= link_to '中文', '/zh' %></li>
          <% else %>
          <li><%= link_to 'English', '/en' %></li>
          <% end %>
          <% if session[:user_id] == nil%>
          <li><%= link_to 'Login with Weibo', '/login' %></li>
          <% else %>
          <li><%= link_to 'Logout', '/logout' %></li>
          <% end %>
          <% if current_user && current_user.admin? && @page && !@page.new_record? %>
          <li><%= link_to "Edit", "/editor" + (request.path == '/' ? '/pages/root' : request.path), id: "edit_link", data: {save_url: (request.path == '/' ? '/pages/root' : mercury_update_page_path(@page))} %></li>
          <% end %>
        </ul>
      </div>
      <div class='span9 column main'>
        <% if notice %>
        <div class="alert alert-success">
          <button class="close" data-dismiss="alert">×</button>
          <%= notice %>
        </div>
        <% end %>
        <%= yield %>
      </div>
      <% else %>
        <%= yield %>
      <% end %>
    </div>
  </div>
<%= yield :javascript %>
</body>
</html>
