<!DOCTYPE html>
<html>
<head>
  <title><%= (@page && @page.title(I18n.locale) ? @page.title(I18n.locale) + " | 51 skillz" : "51 skillz")%></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", 'cycle' %>
  <%= csrf_meta_tags %>
  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
  <%= javascript_tag "var locale = '#{I18n.locale}';" %>
</head>
<body>
  <div class='container'>

    <div class='row'>
      <% if @page && @page.sidebar %>
      <div class='span3 column'>
        <div class='page-header'>
          <h1 class='light'><%= link_to '51skills', '/' %></h1>
        </div>
        <ul class='nav nav-pills nav-stacked sidenav'>
          <% Page.all(:conditions => {:depth => 1}, :order => 'lft asc').each do |p| %>
          <% if p.slug != "root" && p.hidden == false %>
            <li>
              <%= link_to (I18n.locale == 'en' ? p.title(I18n.locale).downcase : p.title(I18n.locale)), "/"+p.slug, :class => "#{(p.slug == @page.slug ? "current" : '')}" %>              
              <% p.children.each do |c| %>
                <% if (request.path == '/pages') || p.children.size != 0 && (p.slug == @page.slug || c.slug == @page.slug || c.siblings.collect {|s| s.id}.include?(@page.id))%>
                  <li class='indent'><%= link_to (I18n.locale == 'en' ? c.title(I18n.locale).downcase : c.title(I18n.locale)), "/"+c.slug, :class => "#{(c.slug == @page.slug ? "current" : '')}" %></li>
                <% end %>
              <% end %>
            </li>
          <% end %>
          <% end %>
          <% if current_user%>
          <li><%= link_to I18n.t('edit_profile'), edit_person_path(current_user) %></li>
          <% end %>
          <% if I18n.locale == :en %>
          <li><%= link_to '中文', '/zh' %></li>
          <% else %>
          <li><%= link_to 'English', '/en' %></li>
          <% end %>
          <% if session[:user_id] == nil %>
          <li><%= link_to I18n.t('login_with_weibo'), '/login' %></li>
          <% else %>
          <li><%= link_to I18n.t('logout'), '/logout' %></li>
          <% end %>
          <% if current_user && current_user.admin? && @page && !@page.new_record? %>
          <li><%= link_to I18n.t('edit_pages'), '/pages' %></li>
          <li><%= link_to I18n.t('edit_categories'), '/categories' %></li>
          <li><%= link_to I18n.t('edit'), "/editor" + (request.path == '/' ? '/pages/root' : request.path), id: "edit_link", data: {save_url: (request.path == '/' ? '/pages/root' : mercury_update_page_path(@page))} %></li>
          
          <% end %>
        </ul>
        <div class='search'>
          <%= form_for :search, :url => '/search', :html => {:class => 'form-search'} do |f| %>
            <%= f.text_field :q, :class => 'search-query span2', :placeholder => I18n.t('search') %>
          <% end %>
        <%= yield :sidebar %>
        </div>
        <div class='category_filter'>
          <ul class='nav nav-pills nav-stacked sidenav categories'>
            <% Category.main_categories.each do |category| %>
              <li class='category'><%= link_to category.name(I18n.locale), category_path(category.id), :class => (current_category?(category) ? 'current' : '') %></li>
              <% if current_category?(category) || (@category && @category.sub_category? && @category.parent == (category.parent || category))%>
                <% category.children.each do |child| %>
                  <li class='category indent'><%= link_to child.name(I18n.locale), category_path(child.id), :class => (current_category?(child) ? 'current' : '') %></li>
                <% end %>
              <% end%>
            <% end%>
          </ul>
        </div>
      </div>
      <div class='span9 column main'>
        <% if notice %>
        <div class="alert alert-success">
          <button class="close" data-dismiss="alert">×</button>
          <%= notice %>
        </div>
        <% end %>
        <% if alert %>
        <div class="alert">
          <button class="close" data-dismiss="alert">×</button>
          <%= alert %>
        </div>
        <% end %>
        <%= yield %>
      </div>
      <% else %>
        <%= yield %>
      <% end %>
    </div>
  </div>

<%= yield :javascript %>
</body>
</html>
