<!DOCTYPE html>
<html>
<head>
  <title>51 skills</title>
  <%= stylesheet_link_tag    'impress'%>
  <link href='http://fonts.googleapis.com/css?family=Istok+Web:700|Bree+Serif' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'jquery'%>
  
  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
  <%= javascript_tag "var locale = '#{I18n.locale}'; var _c_u_id = #{current_user ? current_user.id : 'null'}" %>
</head>
<body class="impress-not-supported">
  
  <div class='footer'>
    <%= link_to(I18n.t('landing.go_to_the_website'), courses_path, :class => 'button') if false %>

    <div class='transist '>
      <span>©2012 <strong>Transist</strong> Inc. All rights reserved.</span>
      <span class='language'><%= zh_or_en_link%></span>
      <div id="example"></div>

      <script type="text/javascript">

      txt = "<p>Browser CodeName: " + navigator.appCodeName + "</p>";
      txt+= "<p>Browser Name: " + navigator.appName + "</p>";
      txt+= "<p>Browser Version: " + navigator.appVersion + "</p>";
      txt+= "<p>Cookies Enabled: " + navigator.cookieEnabled + "</p>";
      txt+= "<p>Platform: " + navigator.platform + "</p>";
      txt+= "<p>User-agent header: " + navigator.userAgent + "</p>";
      txt+= $.browser.safari + " " + $.browser.version + " " + $.browser.webkit

      document.getElementById("example").innerHTML=txt;

      </script>
    </div>
    

  </div>
  
  <div class="fallback-message">
      <p><%= I18n.t('landing.fallback_message').html_safe%></p>
  </div>
  
  <div id="impress">
    <div id="want-to-create-your-own-web-startup-but-dont-know-how" class="step facet" data-x="3500" data-y="0" data-z="2000" data-scale="6">
      <%= I18n.t('landing.slides.slide_1').html_safe%>     
    </div>

     <div id="we-offer" class="step facet" data-x="4500" data-y="0" data-z="1000" data-scale="6" data-rotate-y="90">
       <%= I18n.t('landing.slides.slide_2').html_safe%>     
     </div>

     <div id="need-raise-or-better-job" class="step facet" data-x="3500" data-y="0" data-z="0" data-rotate-y="180" data-scale="6">
       <%= I18n.t('landing.slides.slide_3').html_safe%>     
     </div>

     <div id="current-tech" class="step facet" data-x="2500" data-y="0" data-z="1000" data-rotate-y="270" data-scale="6">
       <%= I18n.t('landing.slides.slide_4').html_safe%>
     </div>

    <div id="boost" class="step facet" data-x="3500" data-y="1000" data-z='1000' data-rotate-x='90' data-rotate-y='180' data-rotate-z="90"  data-scale="6">
      <%= I18n.t('landing.slides.slide_5').html_safe%>
    </div>

     <div id="we-believe" class="step" data-x="20000" data-y="-1000" data-z="-3000"  data-scale="7">
      <%= I18n.t('landing.slides.slide_6').html_safe%>
     </div>

     <div id="hands-on" class="step" data-x="17000" data-y="2000" data-z="0" data-scale="6">
      <%= I18n.t('landing.slides.slide_7').html_safe%>
     </div>

     <div id="fast-track" class="step" data-x="14000" data-y="5000" data-z="3000" data-scale="4">
      <%= I18n.t('landing.slides.slide_8').html_safe%>
     </div>

     <div id="only-for-important" class="step" data-x="13000" data-y="5500" data-z="-5000" data-rotate='18' data-scale="1">
      <%= I18n.t('landing.slides.slide_9').html_safe%>
     </div>

     <div id='subscript' class='step subscript' data-x="50000" data-y='0' data-scale="6">
       <p class='ital' id='subscript-text'><%= I18n.t('landing.subscribe')%></p>
       <form action="/subscribe" class="subscript_form" id="new_person" method="post">
         <div class='email'>
           <input id="email" placeholder="email@example.com" type="email" name="email" size="30" />
         </div>
         <div class='commit'>
           <button type="submit"><%= I18n.t('landing.subscribe_word') %></button>
         </div> 
       </form>
     </div>  

   </div>
  
  <%= notice_helper %>
  <div class="hint">
      <p><%= I18n.t('landing.hint') %></p>
  </div>  
  

  <%= javascript_include_tag 'impress'%>
  <script>
  
  impress().init();
  
  fadeHint = function(){ 
    $(".hint").fadeOut(2000)
  };
  
  //fadeHint();
  
  setTimeout(function(){
    $('.hint').animate({
      opacity: 0
    })
  }, 3000)
  //setTimeout(function(){ $(".hint").fadeOut(2000); }, 3000);
  
  $('.close').click(function(){
    $('.alert').fadeOut();
  });
  
  </script>
  
   
</body>
</html>
