<!DOCTYPE html>
<html>
<head>
  <title>51 skills</title>
  <%= stylesheet_link_tag    'impress'%>
  <link href='http://fonts.googleapis.com/css?family=Istok+Web:700|Bree+Serif' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'jquery'%>
  
  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
  <%= javascript_tag "var locale = '#{I18n.locale}'; var _c_u_id = #{current_user ? current_user.id : 'null'}" %>
</head>
<body class="impress-not-supported">
  
  <div class='footer'>
    <%= link_to 'go to the website', courses_path, :class => 'button' %>

    <div class='transist '>
      <span>©2012 <strong>Transist</strong> Inc. All rights reserved.</span>
    </div>
  </div>
  
  <div class="fallback-message">
      <p>Your browser <b>doesn't support the features required</b> by 51skills, so you are presented with a simplified version of this presentation.</p>
      <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
  </div>
  
  <% if params[:landing].to_s == '1' %>
    <%= render 'landing1' %>
  <% else %>
    <%= render 'landing2' %>
  <% end%>
  
  <div class="hint">
      <p>Use a spacebar or arrow keys to navigate</p>
  </div>
  <script>
  if ("ontouchstart" in document.documentElement) { 
      document.querySelector(".hint").innerHTML = "<p>Tap on the left or right to navigate</p>";
  }
  </script>
  
  

  <%= javascript_include_tag 'impress'%>
  <script>impress().init();</script>
  
   
</body>
</html>
